body {background-color: GhostWhite; font-family: Palatino; font-size: 18px;}
.content {
line-height: 170%;
  max-width: 850px;
  margin: auto;
  background-color: GhostWhite;
  padding: 10px;
}
.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}
  
  img {
    max-width: 30%;
    max-height:30%;
    float: left;
  }
